src/Makefile*
src/*.txt
**/.codelite
.codelite/.tern-port
.codelite/DIVEMesh.tags
.codelite/refactoring.db
Release
Debug
bin
obj
*.session
*.db
*.tags
*.d
*.o
*.pyc
*.json
*.workspace.session
*.mk
*.batch_build
.DS_Store
tags
doxydoc*
