Makefile*
**/.codelite
.codelite/.tern-port
Release
Debug
*.session
*.db
*.tags
*.d
*.o
*.pyc
bin
lib
obj
.codelite/.tern-port
.codelite/DIVEMesh.tags
.codelite/refactoring.db
DIVEMesh.batch_build
DIVEMesh.mk
*.workspace.session
DIVEMesh.txt
.DS_Store
.DS_Store
.DS_Store
DIVEMESH.txt
DIVEMesh.txt
doxydoc*
*.json
*.txt
tags
